.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
.idea/encodings.xml
.idea/findbugs-idea.xml
.idea/runConfigurations.xml
app/app-release.apk
app/class_files.txt
app/mapping.txt
app/seeds.txt
app/unused.txt
projectFilesBackup/
keystore.properties
