.gradle
local.properties
.idea
*.iml
.DS_Store
build
app/app-release.apk
app/class_files.txt
app/mapping.txt
app/seeds.txt
app/unused.txt
projectFilesBackup/
keystore.properties
gradle
gradle.properties